<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agendamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-accordion-group>
      <ion-accordion *ngFor="let agendamento of agendamentos" >
        <ion-item slot="header" color="light">
          <ion-label><b>Data do Serviço:</b> {{agendamento.data}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <tr class="table-row">
            <b>Cliente:</b>
            <div>{{agendamento.cliente?.nome}}</div>
          </tr>
          <tr class="table-row">
            <b>Serviços:</b>
            <div *ngFor="let servico of agendamento.servicos" >
              {{servico.tipo}}
            </div>
          </tr>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
