.table-row {
  width: 33%;
  float: left;
  border: 5px solid #26547C;
  height: 154px;
  align-items: center;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 10px;
}

.veiculos{
  border: 5px solid #26547C;
  border-radius: 10px;
  padding: 10px;
  background-color: #FCFCFC;

}

ion-toolbar {
  --background: #EF476F;
  --color: white;

  --border-color: #26547C;

}


.botoes{
  width: 200px;
}

.tela-botoes{
  width: 194px;
}

.texto-confirma-exclusao{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}
